html {
    background-color: black;
}

.bounce {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 307.5px;
    
    animation-name: bounce;
    animation-duration: 30s;
    animation-iteration-count: infinite ;
    animation-timing-function: linear;
}
/* Values for (1/2 of the) Viewport width: x=640px y=340px */
@keyframes bounce {
    0% {transform: translate(0px,0px);} 
    14% {transform: translate(450px, 340px);}
    28% {transform: translate(640px, 0px);}
    42% {transform: translate(450px,-340px);} 
    56% {transform: translate(-450px,340px);} 
    70% {transform: translate(0px,-340px);} 
    84% {transform: translate(200px,340px);} 
    100% {transform: translate(0px,0px);} 
} 

