p {
    /* margin: 1000px */
}

strong {
    font-weight: 800;
    color: red;
}

.picka {
    background-image: url(../images-audio-video/pickachu-width_800.jpg);
    /* display: inline; */
    width: 1000px;
    height: 895px;
    background-attachment: scroll;
}