

/* First letter pseudo-element test */
.larglet::first-letter {
    color: blue;
    font-weight: 900;
    font-size: 2em;
}

#margshft {
margin: 1em 25px 1em 
}

/* Attribute Target  */
a[title] {
    padding: 10px;
    background-color: aqua;
    border: black 5px double;
    margin: 25px 10px 25px 10px;
    display: block;
    
    }

/* For Direct child test */
article > p {
    color: ivory;
    background-color: darkblue;
    padding: 10px; 
}

.child-test {
    margin: 25px 1em 25px  ;
}

/*For note class test*/

.note {
    border: 2px solid  black ;
    margin: .5em 1em .5em ;
}

.note.safe {
    color: lightgreen ;
    border-color: lightgreen ;
    background-color: darkgreen;
    font-weight: 200;
}

.note.caution {
    color: lightyellow ;
    border-color:lightyellow;
    background-color: darkgoldenrod;
    font-weight: 600;
}

.note.danger {
    color: red ;
    border-color: red;
    background-color: darkred;
    font-weight: 900;
}

.untested {
    margin: .5em 1em 1.5em 
}

/* Pseudo-class example  */
.pseudoclass li:first-child {
    color: rosybrown;
    border: 3px ridge blue;
}
/* Before pseudo-element in action  */
.box::before {
   
    background-color: aquamarine;
    color: brown;
    padding: 10px 20px 10px;
    content: "Hello, this will appear before the html content";
}

