html {
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
font-size: calc(6vw - 20px);
padding: 1em 10px;
}

p {
    font-size: 2vw ;
}
li {
    font-size: 2vw;
}