h1 {
    color:red;
}

p,
li {
    color: green;
}

.Amazing {
    color: rgb(134, 91, 32);
    font-weight: bolder;
}

li em {
font-size: 2em;
color: blue;
}

h1 + p {
  border:  5px red double;
  margin: 10px 50px 10px 50px  ;  
}

a:hover {
color:palevioletred
}
 a:link {
    color: red;
 } 
 @media(min-width: 30em){
    .media {
        background-color: blue ;
    }
    

 }