/* Create your test CSS here */

/* p .box { 
    color: red;
}
*/
#Hello_Message {
    color: chocolate;
    background-color: bisque;
}
 
.special {
    color: red;
  }
  
  a + p {
    color: blue;
  }


.font-size {
/* font-size: 5px; */
   /* font-size: larger; */
   /* font-size: 2em; */
   font-size: 70%;
}  

.width  {
  background-color: cornflowerblue ;
  width: 4px;
}

.color {
  color: fuchsia;
}

.background {
  background-color: crimson;
}

.border {
  border: 1rem dashed sandybrown;
}

