/* Create your test CSS here */

/* p .box { 
    color: red;
}
*/
#Hello_Message {
    color: chocolate;
    background-color: bisque;
}
 
.special {
    color: red;
  }
  
  a + p {
    color: blue;
  }


.font-size {
/* font-size: 5px; */
   /* font-size: larger; */
   /* font-size: 2em; */
   font-size: 70%;
}  

.width  {
  background-color: cornflowerblue ;
  width: 4px;
}

.color {
  color: fuchsia;
}

.background {
  background-color: crimson;
}

.border {
  border: 1rem dashed sandybrown;
}

.trans {
  transform: rotate(180deg);
}

.backimg {
  background-image: url("../image-audio-visual/images/cat-img.jpg");
  color: white ;
}

.rgbcol {
color: rgb(255, 0, 255);
}

.hslcol {
  color: hsl(200, 50%, 42%);
}

.mediaq {
  background-color: blueviolet;
  padding: 15px 10px 15px 10px ;
}

@media (min-width: 400px) {
  .mediaq {
    background-color: red;
  }
}

.backshort {
  background: 10px 10px  url(../image-audio-visual/images/cat-img.jpg);
  color: white ;
}